@page "/details/{id:int}"

<h3>CustomerAttributeDetails</h3>

<h1>Details Info</h1>


<table class="table">
    <tr>
        <td>Attribute Master</td>
        <td>@CustomerAttribute?.AttributeMaster</td>
    </tr>

    <tr>
        <td>Attribute Value Code</td>
        <td>@CustomerAttribute?.AttributeValuesCode</td>
    </tr>

    <tr>
        <td>Description</td>
        <td>@CustomerAttribute?.Description</td>
    </tr>

    <tr>
        <td>Short Name</td>
        <td>@CustomerAttribute?.ShortName</td>
    </tr>

    <tr>
        <td>Parent</td>
        <td>@CustomerAttribute?.Parent</td>
    </tr>

</table>